@{
   // ViewData["Title"] = "Home Page";
}


<a href="/employee/Login">employee</a>

<a href="/Dependent">Dependent</a>

<a href="/Department">show department</a>

<a href="/workOn/EditEmployeeHour_emp">EditEmployeeHour</a>

