@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<style>
    p{
        border: 2px blake solid
    }
</style>
<!--Weak view-->
<!--Model data type dynamic-->

<!--Stong View-->
@model Dependent

<h1>Dependent Data: </h1>

<p>FirstName : @Model.Name</p>
<p>MiddleName: @Model.Sex</p>
<p>LastName: @Model.BirthDate</p>
<p>Salary: @Model. Relationship</p>



<a href="/Dependent">Go To All Dependent</a>